body{
    background-color: cadetblue;
    
}


p{
    color: black;
    font-size: 21px;
}


h2{
    font-size: 30px;
    color: navy;
}


h4{
    color: black;
}


.text-primary{
    color: brown;
}


h5{
    color: black;
}